<%- model_class = Parent -%>
<div class="page-header">
  <h1><%= @parent.name.titleize  %></h1>
</div>

<% if @parent == current_parent %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @parent.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @parent.name.titleize %></dd>
  <dt><strong><%= model_class.human_attribute_name(:car_model) %>:</strong></dt>
  <dd><%= @parent.car_model %></dd>
  <dt><strong><%= model_class.human_attribute_name(:license_plate) %>:</strong></dt>
  <dd><%= @parent.license_plate %></dd>
</dl>

<h2>Students</h2>
<% @parent.students.each do |student| %>
  <p>
    <strong>Name:</strong>
    <%= student.name.titleize %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= student.grade %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= student.homeroom_teacher.titleize %>
  </p>

  <%= link_to 'Delete', [student.parent, student],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>

<% end %>

<h2>Add a student:</h2>
<%= form_for([@parent, @parent.students.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </p>
  <p>
    <%= f.label :homeroom_teacher %><br>
    <%= f.text_field :homeroom_teacher %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



<% else %>

<h2>You are not autorized to view this page.</h2>
</br>

<% end %>
